<!--<div class="card p-4">-->
<!--  <h4>Historical Data Dashboard</h4>-->
<!--  <p>Historical data view will go here.</p>-->
<!--</div>-->

<div class="row">

  <div class="col-md-4">
    <label>Select Stock</label>
    <select class="form-control"
            [(ngModel)]="selectedStock">
      <option *ngFor="let s of stocks" [value]="s">
        {{s}}
      </option>
    </select>
  </div>

</div>

<hr>

<table class="table table-bordered mt-3">
  <thead>
  <tr>
    <th>Timestamp</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let h of history">
    <td>{{h.timestamp}}</td>
    <td>{{h.price}}</td>
  </tr>
  </tbody>
</table>
